
<div class="sidebar-container">
    <mat-sidenav-container fullscreen >
        <mat-sidenav #sidenav mode="side" [opened]="!media.isActive('lt-md')">
    
            <mat-toolbar color="primary">
                <span>Menú</span>
                <span class="spacer"></span>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>        
            <mat-nav-list class="side-navnar">
                <ng-container *ngFor="let menu of menuList | async; index as i;">
                    <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
                        [ngTemplateOutletContext]="{menu:menu}">
                    </ng-container>
                </ng-container>
            </mat-nav-list>
    
            <ng-template #parentMenu let-menu="menu">
                <mat-list-item style="padding-left: 8px;" [routerLink]="menu.routerLink" 
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon >{{menu.icon}}</mat-icon>  {{menu.text}}
                </mat-list-item>
            </ng-template>
    
            <ng-template #childMenu let-menu="menu">
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon s>{{menu.icon}}</mat-icon>{{menu.text}} 
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
                            routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                            <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
            </ng-template>
    
    
        </mat-sidenav>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-button>Logout</button>
        </mat-toolbar>
    
        <div class="container" fxFlex="grow">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
        
</div>


<!-- <div class="sidebar-container">
    <mat-toolbar color="primary" class="sidebar-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>sidebar nav</h1>
    </mat-toolbar>
    <mat-sidenav-container class="sidebar-sidenav-container">
        <mat-sidenav #snav mode="side" [opened]="!media.isActive('lt-md')">

            <mat-nav-list class="side-navnar">
                <ng-container *ngFor="let menu of menuList | async; index as i;">
                    <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
                        [ngTemplateOutletContext]="{menu:menu}">
                    </ng-container>
                </ng-container>
            </mat-nav-list>

            <ng-template #parentMenu let-menu="menu">
                <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
                </mat-list-item>
            </ng-template>

            <ng-template #childMenu let-menu="menu">
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
                            routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                            <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
            </ng-template>

        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> -->